##### Windows
.vs/
bin/
bin-int/
CMakeFiles/
X64/
Generated/
BuildScripts/BuiltZips/
Documentation/Doxygen/gen_docs

*.vcxproj
*.vcxproj.user
*.vcxproj.filters

*.pdb
*.lib
*.mk
*.project
*.txt
/compileData.scor
/compileData.scor.incl
/compileData.scor.t0000
/ReflectTest/ReflectEXE_Profile.json
